<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzeh.forum.dao.AccountMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gzeh.forum.bean.vo.AccountVo">
		<id column="ac_id" property="acId" />
		<result column="ac_login_name" property="acLoginName" />
		<result column="ac_real_name" property="acRealName" />
		<result column="ac_mail" property="acMail" />
		<result column="ac_password" property="acPassword" />
		<result column="ac_sex" property="acSex" />
		<result column="ac_salt" property="acSalt"/>
		<collection property="rolesList" ofType="Role">
			<id column="ro_id" property="roId" />
			<result column="ro_name" property="roName" />
		</collection>

	</resultMap>
	
	<sql id="base_column">ac_id,ac_login_name,ac_real_name,ac_mail,ac_password，ac_sex</sql>
	
	
	<select id="selectUserVoById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT
		ta.*, tr.ro_id,
		tr.ro_name
	FROM
		tbl_account ta
	LEFT JOIN tbl_account_role tar ON ta.ac_id = tar.ac_id
	LEFT JOIN tbl_role tr ON tar.ro_id = tr.ro_id
		WHERE
			ta.ac_id = #{acid}
	</select>
	
	<select id="selectUserPage" resultType="java.util.Map" parameterType="java.util.Map">
			SELECT
		CONCAT(ta.ac_id,'') acid,
		ac_login_name loginName,
		ac_real_name realName,
		ac_mail mail,
		ac_sex sex,
		ac_level LEVEL,
		ac_createtime createtime,
		ac_lasttime lasttime,
		GROUP_CONCAT(tr.ro_name) roleNames
	FROM
		tbl_account ta
	LEFT JOIN tbl_account_role tar ON ta.ac_id = tar.ac_id
	LEFT JOIN tbl_role tr ON tr.ro_id = tar.ro_id
	<where>
		<if test="name !=null">
		ta.ac_login_name LIKE concat(concat('%',#{name}),'%')
		</if>
		
		<if test="startTime !=null">
		 and ta.ac_createtime &gt;= #{startTime}
		</if>
		
		<if test="endTime !=null">
		and ta.ac_createtime &lt;= #{endTime}
		</if>
	</where>
	GROUP BY
		ta.ac_id
	</select>
	

</mapper>
