<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzeh.forum.dao.AticleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gzeh.forum.bean.Aticle">
		<id column="at_id" property="atId" />
		<result column="at_title" property="atTitle" />
		<result column="acount_id" property="acountId" />
		<result column="at_content" property="atContent" />
		<result column="at_data" property="atData" />
		<result column="block_id" property="blockId" />
	</resultMap>
	
	<select id="pageInfoAticle" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			CONCAT(ta.at_id,'') at_id,
			ta.at_title,
			ta.acount_id,
			ta.at_content,
			ta.at_data,
			ta.block_id,
			 re.replysum,
			tac.ac_login_name,
			re.maxdata lasttime,
			tb.bl_name blockname,
			tac.ac_level level
		FROM
			tbl_aticle ta
		LEFT JOIN tbl_account tac ON ta.acount_id = tac.ac_id
		LEFT JOIN (
			SELECT
				count(re_id) replysum,
				max(re_data) maxdata,
				at_id
			FROM
				tbl_reply tr
			GROUP BY
				at_id
		) re ON ta.at_id = re.at_id 
		left join tbl_block tb on  tb.bl_id=ta.block_id
		<where>
			<if test="blockid !=null">
			and ta.block_id=#{blockid}
			</if>
		 	 <if test="startTime !=null">
			 and ta.at_data &gt;= #{startTime}
			</if>
			<if test="endTime !=null">
			and ta.at_data &lt;= #{endTime}
			</if>
			<if test="acids !=null">
			and ta.acount_id in
				<foreach collection="acids" item="item" separator="," open="(" close=")">
					#{item}
				</foreach>
			</if> 
		</where>
		group by ta.at_id
	</select>
	
	<insert id="batchInsert" parameterType="list">
		insert into tbl_aticle(at_id,at_title,acount_id,at_content,block_id)
		<foreach collection="list" item="item" index="index" separator="union all" > 
       		(select #{item.atId},#{item.atTitle},#{item.acountId},#{item.atContent},#{item.blockId} from dual)
    	</foreach>
	</insert>

</mapper>
