<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzeh.forum.dao.SyslogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gzeh.forum.bean.Syslog">
		<id column="log_id" property="logId" />
		<result column="account_id" property="accountId" />
		<result column="option" property="option" />
		<result column="content" property="content" />
		<result column="create_time" property="createTime" />
		<result column="client_ip" property="clientIp" />
	</resultMap>
	
	<select id="selectSyslogByPage" parameterType="java.util.Map" resultType="java.util.Map">
		select log_id logId,
			account_id accountId,
			ts.option,
			content,
			create_time createTime,
			client_ip clientIp,
			ta.ac_login_name loginName
		from tbl_syslog ts
		left join tbl_account ta on  ta.ac_id=ts.account_id 
		<where>
			<if test="logid !=null">
				and  ts.log_id=#{logid}
			</if>
		</where>
	</select>

</mapper>
